/* Header */
header nav a, header nav [role="link"], header nav [role="dropdown"] {
    color: var(--text);
}
header nav a.active, header nav [role="link"].active, header nav [role="dropdown"].active {
    color: var(--text-vivid);
    font-weight: bold;
}
nav svg.feather {
    height: 1em;
    width: 1em;
    display: inline-block;
    position: relative;
    top: .2em;
}

/* Footer */
footer a {
    text-decoration: none;
}
footer .tagline {
    font-size: larger;
}
footer .repo {
    line-height: 1.2;
}
footer .copyright {
    font-size: smaller;
}

/* Permalink symbol beside headings, visible on hover */
a.headerlink {
    opacity: 0;
    padding-left: .3em;
    text-decoration: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
    opacity: .5;
}
[role="main"] > h1:first-child a.headerlink {
    display: none;
}


/* Table of contents sidebar: */
/* (1) Increased spacing */
main.items-fixed {
    --column-gap: calc(var(--spacing) * 3);
}
/* (2) Mobile/tablet hidden with trigger, desktop visible */
article.toc {
    display: none;
}
details.toc-trigger {
    font-size: small;
    border: none;
}
details.toc-trigger[open] + article.toc {
    display: block;
}
/* (3) Position (in md and above) */
@media (min-width: 960px) {
    details.toc-trigger {
        display: none;
    }
    article.toc {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: var(--spacing);
    }
}
/* (4) Link appearance */
article.toc ul {
    list-style: none;
    margin: calc(var(--spacing) * 0.5) 0;
    padding: 0;
    line-height: 1.2;
}
article.toc li {
    margin: 0;
    padding: calc(var(--spacing) * 0.5) 0;
    font-weight: normal;
}
article.toc > ul > li:first-child {
    font-weight: bold;
}

/* Title + subtitle. */
/* Title heading of page */
[role="main"] > h1:first-child {
    font-size: 3.75rem;
    font-weight: 200;
}
/* Subtitle of page */
[role="main"] > h1:first-child + p,
p.subtitle {
    font-size: larger;
    font-family: var(--sans-font);
    color: var(--text-light);
    margin-top: calc(var(--spacing) * -1);
    padding-bottom: var(--spacing);
    margin-bottom: calc(var(--spacing) * 3);
    border-bottom: 1px solid var(--border);
}

/* For the frontpage (may be too specific?) */
.jumbotron {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.jumbotron > h2 {
    font-size: 3.25rem;
    font-weight: 200;
    text-align: center;
}

/* Search modal */
article.search-modal {
    min-height: 250px;
}

/* Search results */
.search-item {
    margin-bottom: calc(var(--spacing) * 2.5);
}
.search-item h3 {
    margin-top: 0;
    margin-bottom: calc(var(--spacing) * 0.5);
}
.search-item p {
    margin: 0;
}

/* Code highlighting using javascript highlighter */
body.with-highlightjs pre {
    padding: 0;
}
body.with-highlightjs pre code {
    padding: 1rem;
}

/* Theme switcher widget */
a.switcher::hover {
    opacity: .8;
}
a.switcher i {
    display: none;
}
a.switcher::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid currentColor;
    border-radius: 50%;
    background: linear-gradient(to right, currentColor 0, currentColor 50%, transparent 50%);
    content: "";
    vertical-align: middle;
}

/* Mobile menu */
body > header nav .show-menu~.menu {
    /* If too long, the fixed position may make scrolling impossible */
    position: absolute;
}
nav .menu .menu-inner ul {
    list-style: none;
    line-height: 1.5;
}
nav .menu .menu-inner ul {
    padding-left: 1.5rem;
}
nav .menu .menu-inner > ul {
    padding-left: 1rem;
}
nav .menu .menu-inner ul.other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
