/* AvecCSS v2.0 - Pico theme */
:root, .light-theme {
  --bg: #fdfdfe;
  --card-bg: #ffffff;
  --accent-bg: #f5f5f1;
  --contrast-bg: #eaead1;
  --text: #415462;
  --text-light: #73828c;
  --text-vivid: black;
  --text-heading: #415462;
  --border: #cdd0cf;
  --accent: #1095c1;
  --code: #73828c;
  --preformatted: #73828c;
  --marked: #fff2ca;
  --disabled: #d5dce2;
  --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024), 0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03), 0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036), 0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302), 0.5rem 1rem 6rem rgba(27, 40, 50, 0.06), 0 0 0 0.0625rem rgba(27, 40, 50, 0.015);
  --info: mediumblue;
  --warning: darkorange;
  --error: firebrick;
  --success: forestgreen;
  --button-text: var(--bg);
  --mark-text: var(--text);
  --code-bg: var(--accent-bg);
}

.dark-theme, .reverse-theme, .light-theme .reverse-theme {
  --bg: #11191f;
  --card-bg: #141e26;
  --accent-bg: #18232c;
  --contrast-bg: #283848;
  --text: #bbc6ce;
  --text-light: #73828c;
  --text-vivid: white;
  --text-heading: #bbc6ce;
  --border: #374956;
  --accent: #1095c1;
  --code: #73828c;
  --preformatted: #73828c;
  --marked: #1b5d77;
  --disabled: #2c3d49;
  --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024), 0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03), 0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036), 0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302), 0.5rem 1rem 6rem rgba(0, 0, 0, 0.06), 0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
  --info: lightskyblue;
  --warning: gold;
  --error: orangered;
  --success: springgreen;
  --button-text: var(--bg);
  --mark-text: var(--text);
  --code-bg: var(--accent-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #11191f;
    --card-bg: #141e26;
    --accent-bg: #18232c;
    --contrast-bg: #283848;
    --text: #bbc6ce;
    --text-light: #73828c;
    --text-vivid: white;
    --text-heading: #bbc6ce;
    --border: #374956;
    --accent: #1095c1;
    --code: #73828c;
    --preformatted: #73828c;
    --disabled: #2c3d49;
    --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024), 0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03), 0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036), 0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302), 0.5rem 1rem 6rem rgba(0, 0, 0, 0.06), 0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
    --info: lightskyblue;
    --warning: gold;
    --error: orangered;
    --success: springgreen;
    --button-text: var(--bg);
    --mark-text: var(--text);
    --code-bg: var(--accent-bg);
  }
  .reverse-theme {
    --bg: #fdfdfe;
    --card-bg: #ffffff;
    --accent-bg: #f5f5f1;
    --contrast-bg: #eaead1;
    --text: #415462;
    --text-light: #73828c;
    --text-vivid: black;
    --text-heading: #415462;
    --border: #cdd0cf;
    --accent: #1095c1;
    --code: #73828c;
    --preformatted: #73828c;
    --marked: #fff2ca;
    --disabled: #d5dce2;
    --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024), 0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03), 0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036), 0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302), 0.5rem 1rem 6rem rgba(27, 40, 50, 0.06), 0 0 0 0.0625rem rgba(27, 40, 50, 0.015);
    --info: mediumblue;
    --warning: darkorange;
    --error: firebrick;
    --success: forestgreen;
    --button-text: var(--bg);
    --mark-text: var(--text);
    --code-bg: var(--accent-bg);
  }
}
.dark-theme .reverse-theme {
  --bg: #fdfdfe;
  --card-bg: #ffffff;
  --accent-bg: #f5f5f1;
  --contrast-bg: #eaead1;
  --text: #415462;
  --text-light: #73828c;
  --text-vivid: black;
  --text-heading: #415462;
  --border: #cdd0cf;
  --accent: #1095c1;
  --code: #73828c;
  --preformatted: #73828c;
  --marked: #fff2ca;
  --disabled: #d5dce2;
  --box-shadow: 0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698), 0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024), 0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03), 0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036), 0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302), 0.5rem 1rem 6rem rgba(27, 40, 50, 0.06), 0 0 0 0.0625rem rgba(27, 40, 50, 0.015);
  --info: mediumblue;
  --warning: darkorange;
  --error: firebrick;
  --success: forestgreen;
  --button-text: var(--bg);
  --mark-text: var(--text);
  --code-bg: var(--accent-bg);
}
